body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #5D0000;
  color: #ffffff;
}


.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #5D0000;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.hero-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 20px;
}


.navbar {
  background: #5D0000;
  text-align: center;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}


.about {
  padding: 40px 20px;
  background: #5D0000;
}

.about h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about-text {
  max-width: 600px;
  text-align: center;
}


.featured {
  background: #5D0000;
  padding: 40px 20px;
  text-align: center;
}

.featured h2 {
  color: #f8f8f8;
  margin-bottom: 20px;
}

.work-gallery img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 50px #ffffff;
}


.contact {
  background: #5D0000;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.contact h2 {
  margin-bottom: 20px;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact li {
  margin: 10px 0;
  font-size: 1em;
}